
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscription Mail</title>
  <style>
   h1{
    text-decoration: underline blue;
   } 
    #owner{
      padding: 1rem;
      
    }
   body{
   padding: 1rem;
    
   }
    html{
      font-family: sans-serif;
    }
    
    .discriptor{
      
    
    
    max-width: 500px;
    
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    
}
.discriptor p {
    padding: 1rem;
    letter-spacing: 1.3px;
    word-spacing: 2px;
}
.discriptor img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

  </style>
</head>
<body>
  <div id="container" >
    <h1>Welcome to Photon</h2>
    <h3>EAPCET eLearngin Platform</h2>
    <h3>Thanks for Subscribing </h3>
    <p>Helllo , We are delight to have you here, We will update upcoming events through mail </p>
    
  </div>
  <div id="owner">
  <div class="discriptor">
    <h4>S.Sri Lakshmi Narasimha</h4>
    <h5>Photon - Developer</h5>
    <img src="https://i.postimg.cc/h4ZhPFH5/me2.jpg" alt="">
    

  </div>
  
  <p>Follow Us</p>
   
    
      <a href="https://www.linkedin.com/in/narasimha-settipalli-160061228">Narasimha_Settipalli </a>
      
    </div>
</div>
</body>
</html>