#nav{
    position: relative;
    display: flex;
    background-color: #e3f2fd;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
#menubtn{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 1rem;
}
#navitems{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#navitems a {
    color : gray;
    text-decoration: none;
}
#tests{
    margin: 2% 10% 1% 10%;
    padding: 1rem;
}
#tests button {
    padding: 15px;
}